<head>
<link rel="stylesheet" type="text/css" href="./style.css">
</head>
<body>
  <h1 style="color:aqua; background-color:red; text-align:center;">Hei Ida!<h1>
    <h2 class="center">Liste over ting jeg liker: </h2>
    <div class="center">
    <ul>
      <li> Jon</li>
      <li> Jon</li>
      <li> Ingen andre ting</li>
      <li> Jon</li>
    </ul>
    </div>
</body>
<script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
<script>
  // var server = io('http://localhost:8080');
</script>
